.edit{
  font-size: 70%; /*文字サイズの指定*/
  color: orange;  /*文字色の指定*/
  border: 1px solid orange;   /*線を描く*/
  padding-top:3px;    /*文字上部の余白指定*/
  padding-bottom: 3px;    /*文字下部の余白指定*/
  padding-right: 6px; /*文字右側の余白指定*/
  padding-left: 6px;  /*文字左側の余白指定*/
  letter-spacing: 5px;    /*文字と文字の間隔をあける*/
}

h1{
  text-align: center;
  width: 50%;    /*横幅の指定*/
  font-size: 150%;    /*フォントサイズの指定*/
  color: #313131; /*文字色の変更*/
  letter-spacing: 3px;    /*文字と文字の間隔をあける*/
  padding-top: 30px; /*文字上部の余白指定*/
  border-bottom: 3px solid orange;   /*文字の下部に線を描く*/
  margin: auto;
}

.top-wrapper {
  color: black;
  text-align: center;
  position: relative;
  margin-top: 40px;
  padding-top: 30px;
  height :500px;
  background-size: contain;
}

.position {
  position: fixed;
  bottom: 100px;
  left: 450px;
}


